html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  padding: 1rem; /* Global padding */
  box-sizing: border-box;
}

.editor-ui-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1rem; /* spacing between editor and UI */
  box-sizing: border-box;
}

/* New wrapper to help with aspect-ratio alignment */
.card-editor-wrapper {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 3px solid white;
}

.card-editor {
  aspect-ratio: 2.5 / 3.5;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  border: 3px solid white;
  border-radius: 8px;
  padding: 1rem;

  box-sizing: border-box;
  overflow: auto;
}
.UI {
  border: 3px solid white;
  border-radius: 8px;
  padding: 1rem;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.stats-table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  border-color: white;
  border: 1px solid;
}

.stats-table th, .stats-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.stats-table th {
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}